@model List<MyWebsite.Areas.Admin.Models.Location.Country>
<style>
    td, th {
        white-space: nowrap;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row pt-2 justify-content-between align-items-center">
        <div class="row pt-2 justify-content-between align-items-center">
            <div class="col-auto d-flex gap-2">
                <a class="btn btn-primary d-flex align-items-center" asp-controller="Country" asp-action="Create">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z" />
                    </svg>
                    <span class="ms-1">New Country</span>
                </a>
                <a class="btn btn-primary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
                    </svg>
                    <span class="ms-1">Import File</span>
                </a>
            </div>
        <div class="col-auto d-flex gap-2">
            <form asp-controller="Country" asp-action="Index" method="get">
                <div class="input-group">
                    <input type="text" name="searchString" class="form-control" placeholder="Enter text"
                           aria-label="Search input" aria-describedby="button-addon1"
                           value="@Context.Request.Query["searchString"]">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table d-xxl-table table-hover">
        <thead>
            <tr>
                <th>Id quốc gia</th>
                <th>Tên quốc gia</th>
                <th>Mã Alpha2</th>
                <th>Mã Alpha3</th>
                <th>Mã quốc gia</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="user-select: none;">
            @foreach (var val in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => val.CountryId)</td>
                    <td>@Html.DisplayFor(modelItem => val.CountryName)</td>
                    <td>@val.Alp2</td>
                    <td>@val.Alp3</td>
                    <td>@val.PhoneCode</td>
                    <td>
                        <div>
                            <a class="btn btn-success btn-sm" style="font-weight: bold;" asp-controller="Country" asp-action="Edit" asp-route-id="@val.CountryId">
                                Edit
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </a>
                            <a class="btn btn-danger btn-sm" style="font-weight: bold;" asp-controller="Country" asp-action="Delete" asp-route-id="@val.CountryId">
                                Delete
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>
                            </a>
                            <a class="btn btn-info btn-sm" style="font-weight: bold;">
                                Infor
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                                </svg>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>